{% extends 'base.html.twig' %}

{% block body %}
    {% include('_navbar.html.twig') %}
    <main>
        <div class="main-content">
            <div class="main-title">
                <h1>F.A.Q</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis debitis dicta dolor error eum
                    eveniet expedita iste, necessitatibus, nemo nostrum numquam odio possimus provident quisquam
                    reprehenderit sit sunt voluptatem.</p>
            </div>

            <section class="thread-messages-list">
                {% for thread in threads %}
                    <div class="thread-messages-item">
                        <h4>{{ thread.lib }}</h4>
                        <p>{{ thread.message|u.truncate(150, '...')}}
                            <span class="badge bg-primary rounded-pill">{{ thread.count }} réponses</span></p>
                        <p class="thread-messages-author">{{ thread.createdAt|date('d-m-Y') }} | {{ thread.name }}</p>
                        <a class="btn btn-primary" href="{{ path('app_questions_show', {'id':  thread.id}) }}">Voir le message</a>
                        <a class="btn btn-primary">Répondre</a>
                    </div>
                {% endfor %}
            </section>
            <section>
                <h2>Avez-vous une question ?</h2>
                <div style="height: 700px">
                </div>
            </section>
        </div>
    </main>
    {% include('_footer.html.twig') %}
{% endblock %}

{% block title %}
    Take'A'Vet - F.A.Q
{% endblock %}

