{% extends 'base.html.twig' %}

{% block body %}
    {% include('_navbar.html.twig') %}
    <main>
        <div class="main-content">
            <h2 class="m-3">
                <span class="" style="font-weight:bold;">Thread #{{ thread.id }}:</span>
                {{ thread.lib }}
            </h2>
            <p style="margin: 15px; text-align: justify">
                {{ thread.message }}
            </p>
            <section class="thread-messages-list" style="padding-top: 0px !important;">
                {% for msg in thread.replies %}
                    <div class="thread-messages-item">
                        <p style="text-align: justify">{{ msg.message }}</p>
                        <p class="thread-messages-author">{{ msg.createdAt|date('d-m-Y') }} | {{ msg.user.lastName }} {{ msg.user.firstName }}</p>
                    </div>
                {% endfor %}
            </section>
        </div>
    </main>
    {% include('_footer.html.twig') %}
{% endblock %}

{% block title %}
Take'A'Vet - Thread#{{ thread.id }}
{% endblock %}

