{% extends 'base.html.twig' %}

{% block title %}Take'A'Vet - Mes animaux!{% endblock %}

{% block main %}
    <main>
    <div class="main-content">
        <div class="main-content__home">
            <h1 class="title">Derniers récapitulatifs de {{ animal.name }}</h1>
        </div>
        {% if records is empty %}
        <p style="text-align: center"> Il n'y a pas encore de récapitulatif de rendez vous.</p>
        {% else %}
        <ul class="list_animal">
            {% for record in records %}
            <div>
                <div>
                    <p class="title">Récap du : <strong>{{ record.dateRecord|format_date('full') }} </strong></p>
                    <p>Poids de {{ animal.name }} : {{record.weight}}kg</p>
                    <p>Taille de {{ animal.name }} : {{record.height}}cm</p>
                </div>
                <div>
                    <p class="title">Informations concernant la santé de l'animal :</p>
                    <p> {{ record.healthInfos }} </p>
                    <p class="title"> Informations autres : </p>
                    <p> {{ record.otherInfos }} </p>
                </div>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
        <p class="title"><a class="btn btn-success" href="{{ path('app_animal')}}" role="button"> Revenir a vos animaux</a> </p>
        </div>
    </main>
{% endblock %}
