<main>
    <div class="main-content">
        <div class="main-content__home">
            <h1 class="title">Mes animaux</h1>
            <a class="btn btn-primary" href="{{ path('app_animal_create') }}" role="button"> Ajouter un nouvel animal</a>
            <ul class="list_animal">
                {% for animal in animals  %}
                <div class="list_animal_item">
                    <div class="animal_nametype">
                        <p class="animal_name">{{animal.name}}</p>
                        <p class="animal-type">{{animal.race}}</p>
                    </div>
                    <p class="animal_date">{{ animal.birthday| date("d-m-Y") }}</p>
                    <p class="animal_button"><a class="btn btn-primary" href="{{ path('app_animal_update', {id: animal.id}) }}" role="button"> Modifier cet animal</a>
                        <a class="btn btn-primary" href="{{ path('app_animal_delete', {id: animal.id}) }}" role="button"> Supprimer cet animal</a></p>
                    <textarea class="form-control"> </textarea>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>
