<main>
    <div class="main-content">
        <div>
            <h1 class="title">Mes animaux</h1>
            <p style="text-align: center">
            <a class="btn btn-primary" href="{{ path('app_animal_create') }}" role="button"> Ajouter un nouvel animal</a>
            </p>
            <ul class="list_animal">
                {% for animal in animals  %}
                <div class="list_animal_item">
                    {% if animal.photoPath is not null %}
                        <div class="text-center">
                            <img class="img-small" src="{{ asset('uploads/animals/' ~ animal.photoPath) }}" />
                        </div>
                    <div class="text-center">
                        <p class="animal_name">{{animal.name}} {{animal.race}} </p>
                    </div>
                    <p class="text-center">{{ animal.birthday| date("d-m-Y") }}</p>
                    <textarea class="form-control"> </textarea>
                    {% endif %}
                    <div class="animal_part">
                        <p class="animal_button"><a class="btn btn-success" href="{{ path('app_animal_update', {id: animal.id}) }}" role="button"> Modifier cet animal</a> </p>
                        <p class="animal_button"><a class="btn btn-danger" href="{{ path('app_animal_delete', {id: animal.id}) }}" role="button"> Supprimer cet animal</a></p>
                        <p class="animal_button"><a class="btn btn-success" href="{{ path('app_record_animal', {id: animal.id}) }}" role="button"> Accéder aux derniers récap !</a></p>
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>
