{% extends 'base.html.twig' %}

{% block title %}
    Planning de {{ agenda.veto.lastName|upper }} {{ agenda.veto.firstName }}
{% endblock %}

{% block main %}
    <div class="main-content">
        <div class="text-center">
            {% if agenda.veto.profilePicPath is not null %}
                <img src="{{ asset('uploads/avatars/' ~ agenda.veto.profilePicPath) }}" alt="avatar" height="128"
                class="rounded-circle" loading="lazy">
            {% else %}
                <img src="{{ asset('media/default-avatar.png') }}" alt="avatar" height="128"
                class="rounded-circle" loading="lazy">
            {% endif %}
            <h1>Planning de {{ agenda.veto.lastName|upper }} {{ agenda.veto.firstName }}</h1>
        </div>

        <div class="text-center">
            <div class="container py-5">
                <h3 class="text-primary">Horaires, du {{ firstDayOfWeek|format_date }} au {{ lastDayOfWeek|format_date }} </h3>
                <table class="table">
                    <thead>
                    <tr>
                        {% for day in agenda.days %}
                            {% set dateDay = ("Sunday + #{day.day} days"|date("U")) %}
                            {% set startDayString = dateDay|format_datetime(pattern="EEEE", locale='fr')|capitalize %}
                            <th scope="col">{{ startDayString }} | {{ dateDay|format_date }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for day in agenda.days %}
                            <td>
                                Rendez-vous possible de {{ day.startHour|date('H:i') }}h à {{ day.endHour|date('H:i') }}h
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                    {% for day in agenda.days %}
                        <td>
                            {% set dateDay = ("Sunday + #{day.day} days"|date("U")) %}

                            {% set hasAppInTd = false %}

                            <ul class="list-group list-group-flush">
                            {% for a in appointments %}
                                {% if a.dateApp|date('D') == dateDay|date('D') %}
                                    <li class="list-group-item">{{ a.dateApp|date }}</li>
                                    {% set hasAppInTd = true %}
                                {% endif %}
                            {% endfor %}
                            </ul>

                            {% if not hasAppInTd %}
                                <p>///////</p>
                            {% endif %}
                        </td>
                    {% endfor %}
                    </tr>
                    </tbody>
                </table>
                <div class="d-flex" style="justify-content: space-around; align-items: center;">
                    <a class="btn btn-outline-primary" href="?offset={{ weekOffset-1 }}"><i class="fa-sharp fa-solid fa-arrow-left"></i></a>
                    <p style="margin-bottom: 0;" class="text-secondary">Semaine: {{ weekOffset }}</p>
                    <a class="btn btn-outline-primary" href="?offset={{ weekOffset+1 }}"><i class="fa-sharp fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <h3>Vacances</h3>

            {% if agenda.vacations is not empty %}
                {% for vacation in agenda.vacations %}
                    <p>{{ vacation.libVacation }} - {{ vacation.dateStart|format_datetime("full", "none", locale='fr') }} à {{ vacation.dateStart|format_datetime("full", "none", locale='fr') }}</p>
                {% endfor %}
            {% else %}
                <p style="text-align: center;">Le vétérinaire n'a pas spécifié cela.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}


