{% extends 'base.html.twig' %}

{% block title %}
    Planning de {{ agenda.veto.lastName|upper }} {{ agenda.veto.firstName }}
{% endblock %}

{% block main %}
    <div class="main-content">
        <div class="text-center">
            {% if agenda.veto.profilePicPath is not null %}
                <img src="{{ asset('uploads/avatars/' ~ agenda.veto.profilePicPath) }}" alt="avatar" height="128"
                class="rounded-circle" loading="lazy">
            {% else %}
                <img src="{{ asset('media/default-avatar.png') }}" alt="avatar" height="128"
                class="rounded-circle" loading="lazy">
            {% endif %}
            <h1>Planning de {{ agenda.veto.lastName|upper }} {{ agenda.veto.firstName }}</h1>
        </div>

        <div class="center-on-mobile">
            <h3>Horaires, du {{ date('monday this week')|format_date }} au {{ date('sunday this week')|format_date }} </h3>
            {% for day in agenda.days %}
                {% set dateDay = ("Sunday + #{day.day} days"|date("U")) %}

                {# convert int to days #}
                <p>{{ dateDay|format_datetime(pattern="EEEE", locale='fr')|capitalize }} ({{ day.startHour|date('H:i') }} / {{ day.endHour|date('H:i') }})</p>

                {% for a in appointments %}
                    {% if a.dateApp|date('D') == dateDay|date('D') %}
                        <p>- {{ a.dateApp|date }}</p>
                    {% endif %}
                {% endfor %}

            {% endfor %}

            <h3>Vacances</h3>
            {% for vacation in agenda.vacations %}
                <p>{{ vacation.libVacation }} - {{ vacation.dateStart|format_datetime("full", "none", locale='fr') }} à {{ vacation.dateStart|format_datetime("full", "none", locale='fr') }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}


