<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="{{ asset('media/nav_logo.png') }}" width="40">
        Take'A'Vet
    </a>

    <div class="d-flex flex-row collapse flex-wrap m-lg-2">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center align-items-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Accueil</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Planning</a></li>
            <li><a href="{{ path('app_threads') }}" class="nav-link px-2 link-dark">FAQ</a></li>
            <li><a href="/contact" class="nav-link px-2 link-dark">Contact</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('app_animal') }}" class="nav-link px-2 link-dark">Mes animaux</a></li>
            {% endif %}
        </ul>

        <div class="d-flex align-items-center flex-grow-1 justify-content-evenly gap-3 mx-3">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="#" class="btn btn-primary">TODO</a>
                <a href="{{ path('app_logout') }}" class="btn btn-outline-primary me-2">Déconnexion</a>

                <a href="{{ path('app_me') }}">
                    {% if app.user.profilePicPath is not null %}
                        <img src="{{ asset('uploads/avatars/' ~ app.user.profilePicPath) }}" alt="avatar" height="45" class="rounded-circle">
                    {% else %}
                        <img src="{{ asset('media/default-avatar.png') }}" alt="avatar" height="45" class="rounded-circle">
                    {% endif %}
                </a>

            {% else %}
                <a href="{{ path('app_register') }}" class="btn btn-primary">Créer un compte</a>
                <a href="{{ path('app_login') }}" class="btn btn-outline-primary me-2">Se connecter</a>
            {% endif %}
        </div>
    </div>
    </div>
</header>